
<br>
<form style="align-content: center; top: 10%">


  <div class="form-outline mb-4">
    <input [(ngModel)]="emailInput" type="email" class="form-control" />
    <label class="form-label" >Email address</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input [(ngModel)]="passwordInput" type="password"  class="form-control" />
    <label class="form-label">Password</label>
  </div>

  <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button>

</form>
